WebContent/WEB-INF/xsd/_0_结构_复用.xsd

<?xml version="1.0" encoding="GB2312"?>
<xsd:schema  xmlns="http://dataexchange.court.gov.cn/2009/data"
         xmlns:xsd="http://www.w3.org/2001/XMLSchema"
   targetNamespace="http://dataexchange.court.gov.cn/2009/data"
elementFormDefault="qualified">

  <xsd:include schemaLocation="_A_类型_基础.xsd"/>

  <xsd:simpleType name="案件标识">
    <xsd:restriction base="xsd:nonNegativeInteger">
      <xsd:totalDigits value="15"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:group name="自然人基本状况">
    <xsd:sequence>
      <xsd:element name="性别"               type="TN"   minOccurs="0" maxOccurs="1"/>
      <xsd:element name="出生日期"           type="D"    minOccurs="0" maxOccurs="1"/>
      <xsd:element name="年龄"               type="TN"   minOccurs="0" maxOccurs="1"/>
      <xsd:element name="国籍"               type="SN"   minOccurs="0" maxOccurs="1"/>
      <xsd:element name="民族"               type="TN"   minOccurs="0" maxOccurs="1"/>
      <xsd:element name="身份"               type="TN"   minOccurs="0" maxOccurs="1"/>
      <xsd:element name="身份证号码"         type="C30"  minOccurs="0" maxOccurs="1"/>
      <xsd:element name="现役军人身份"       type="TN"   minOccurs="0" maxOccurs="1"/>
      <xsd:element name="军官职务性质"       type="TN"   minOccurs="0" maxOccurs="1"/>
      <xsd:element name="军官或文职干部级别" type="TN"   minOccurs="0" maxOccurs="1"/>
      <xsd:element name="其他身份证件种类"   type="TN"   minOccurs="0" maxOccurs="1"/>
      <xsd:element name="其他身份证件号码"   type="C30"  minOccurs="0" maxOccurs="1"/>
      <xsd:element name="职业"               type="TN"   minOccurs="0" maxOccurs="1"/>
      <xsd:element name="文化程度"           type="TN"   minOccurs="0" maxOccurs="1"/>
      <xsd:element name="婚姻状况"           type="TN"   minOccurs="0" maxOccurs="1"/>
      <xsd:element name="政治面貌"           type="TN"   minOccurs="0" maxOccurs="1"/>
      <xsd:element name="行政级别"           type="TN"   minOccurs="0" maxOccurs="1"/>
      <xsd:element name="所在单位"           type="C100" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="职务"               type="C100" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="特殊身份"           type="N"    minOccurs="0" maxOccurs="1"/>
      <xsd:element name="特殊生理或病理"     type="N"    minOccurs="0" maxOccurs="1"/>
      <xsd:element name="户籍所在地"         type="C100" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="简历"               type="BB"   minOccurs="0" maxOccurs="1"/>
      <xsd:element name="流动人员"           type="TN"   minOccurs="0" maxOccurs="1"/>
      <xsd:element name="未成年人家庭背景"   type="TN"   minOccurs="0" maxOccurs="1"/>
      <xsd:element name="家庭经济状况"       type="TN"   minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="单位基本状况">
    <xsd:sequence>
      <xsd:element name="国家或地区"     type="SN"  minOccurs="0" maxOccurs="1"/>
      <xsd:element name="组织机构代码"   type="C10" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="单位性质"       type="TN"  minOccurs="0" maxOccurs="1"/>
      <xsd:element name="特殊行业"       type="N"   minOccurs="0" maxOccurs="1"/>
      <xsd:element name="法定代表人"     type="C40" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="代表人证件种类" type="TN"  minOccurs="0" maxOccurs="1"/>
      <xsd:element name="代表人证件号码" type="C30" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:complexType name="与案实体">
    <xsd:sequence>
      <xsd:element name="序号" type="SN"   minOccurs="0" maxOccurs="1"/>
      <xsd:element name="来源" type="TN"   minOccurs="1" maxOccurs="1"/>
      <xsd:element name="标识" type="N"    minOccurs="0" maxOccurs="1"/>
      <xsd:element name="角色" type="BB"   minOccurs="1" maxOccurs="1"/>
      <xsd:element name="类型" type="TN"   minOccurs="1" maxOccurs="1"/>
      <xsd:element name="名称" type="C100" minOccurs="0" maxOccurs="1"/>
      <xsd:choice>
        <xsd:group ref="自然人基本状况"/>
        <xsd:group ref="单位基本状况"/>
      </xsd:choice>
      <xsd:element name="地址"         type="C200" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="邮政编码"     type="C10"  minOccurs="0" maxOccurs="1"/>
      <xsd:element name="联系电话"     type="C100" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="电子邮箱"     type="C200" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="其他联系方法" type="C100" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="当事人查询账号" type="C30" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="当事人查询密码" type="C30" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="与案实体名录">
    <xsd:sequence>
      <xsd:element name="R" type="与案实体" minOccurs="1" maxOccurs="32768"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="办案期限">
    <xsd:sequence>
      <xsd:element name="审限起始日期"     type="D"  minOccurs="0"/>
      <xsd:element name="审限届满日期"     type="D"  minOccurs="0"/>
      <xsd:element name="立案期限届满日期" type="D"  minOccurs="0"/>
      <xsd:element name="审理结束日期"     type="D"  minOccurs="0"/>
      <xsd:element name="法定立案期限"     type="SN" minOccurs="0"/>
      <xsd:element name="实际立案天数"     type="SN" minOccurs="0"/>
      <xsd:element name="立案超期天数"     type="SN" minOccurs="0"/>
      <xsd:element name="法定审限天数"     type="SN" minOccurs="0"/>
      <xsd:element name="实际审理天数"     type="SN" minOccurs="0"/>
      <xsd:element name="超审限天数"       type="SN" minOccurs="0"/>
      <xsd:element name="超审限倍数"       type="TN" minOccurs="0"/>
      <xsd:element name="超审限原因"       type="TN" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="程序变更">
    <xsd:sequence>
      <xsd:element name="程序变更类型"     type="TN" minOccurs="0"/>
      <xsd:element name="简易转普通日期"   type="D"  minOccurs="0"/>
      <xsd:element name="简易转普通审批人" type="SN" minOccurs="0"/>
      <xsd:element name="简易转普通原因"   type="TN" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:group name="抗诉">
    <xsd:sequence>
      <xsd:element name="抗诉机关"     type="C100" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="提起诉讼日期" type="D"    minOccurs="0" maxOccurs="1"/>
      <xsd:element name="提起诉讼材料" type="BB"   minOccurs="0" maxOccurs="1"/>
      <xsd:element name="撤回诉讼日期" type="D"    minOccurs="0" maxOccurs="1"/>
      <xsd:element name="移送案件日期" type="D"    minOccurs="0" maxOccurs="1"/>
      <xsd:element name="上级接收日期" type="D"    minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:complexType name="抗诉信息">
    <xsd:sequence>
      <xsd:group ref="抗诉" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="上抗诉情况">
    <xsd:sequence>
      <xsd:element name="诉讼范围" type="TN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="诉讼类型" type="TN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="上诉人"   type="BB" minOccurs="0" maxOccurs="1"/>
      <xsd:group    ref="抗诉"               minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:group name="上诉">
    <xsd:sequence>
      <xsd:element name="上诉范围"     type="TN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="上诉日期"     type="D"  minOccurs="0" maxOccurs="1"/>
      <xsd:element name="上诉人"       type="BB" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="上诉材料"     type="BB" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="撤回上诉日期" type="D"  minOccurs="0" maxOccurs="1"/>
      <xsd:element name="移送案件日期" type="D"  minOccurs="0" maxOccurs="1"/>
      <xsd:element name="上级接收日期" type="D"  minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:complexType name="上诉信息">
    <xsd:sequence>
      <xsd:group ref="上诉" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="诉讼担保情况1">
    <xsd:sequence>
      <xsd:element name="序号_担保"    type="SN"   minOccurs="1" maxOccurs="1"/>
      <xsd:element name="事由"         type="TN"   minOccurs="0" maxOccurs="1"/>
      <xsd:element name="当事人"       type="SN"   minOccurs="0" maxOccurs="1"/>
      <xsd:element name="担保方式"     type="N"    minOccurs="0" maxOccurs="1"/>
      <xsd:element name="担保人"       type="SN"   minOccurs="0" maxOccurs="1"/>
      <xsd:element name="与当事人关系" type="TN"   minOccurs="0" maxOccurs="1"/>
      <xsd:element name="保证金额"     type="M"    minOccurs="0" maxOccurs="1"/>
      <xsd:element name="担保物名称"   type="C100" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="担保范围"     type="C200" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="担保期限"     type="SN"   minOccurs="0" maxOccurs="1"/>
      <xsd:element name="裁定日期"     type="D"    minOccurs="0" maxOccurs="1"/>
      <xsd:element name="裁定内容"     type="C200" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="诉讼担保情况">
    <xsd:sequence>
      <xsd:element name="R" type="诉讼担保情况1" minOccurs="0" maxOccurs="32768"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="审判组织成员1">
    <xsd:sequence>
      <xsd:element name="序号_成员" type="SN" minOccurs="1"/>
      <xsd:element name="原成员"    type="SN" minOccurs="0"/>
      <xsd:element name="新成员"    type="SN" minOccurs="0"/>
      <xsd:element name="角色"      type="TN" minOccurs="0"/>
      <xsd:element name="陪审员邀请方"  type="TN" minOccurs="0"/>
      <xsd:element name="变更日期"  type="D"  minOccurs="0"/>
      <xsd:element name="变更原因"  type="TN" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="审判组织成员">
    <xsd:sequence>
      <xsd:element name="R" type="审判组织成员1" minOccurs="0" maxOccurs="32768"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="回避情况1">
    <xsd:sequence>
      <xsd:element name="序号_回避"    type="SN" minOccurs="1"/>
      <xsd:element name="回避类型"     type="TN" minOccurs="0"/>
      <xsd:element name="申请回避日期" type="D"  minOccurs="0"/>
      <xsd:element name="回避原因"     type="N" minOccurs="0"/>
      <xsd:element name="回避人"       type="SN" minOccurs="0"/>
      <xsd:element name="回避申请人"   type="SN" minOccurs="0"/>
      <xsd:element name="回避处理结果" type="TN" minOccurs="0"/>
      <xsd:element name="回避决定人"   type="TN" minOccurs="0"/>
      <xsd:element name="回避决定日期" type="D"  minOccurs="0"/>
      <xsd:element name="回避决定"     type="SN" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="回避情况">
    <xsd:sequence>
      <xsd:element name="R" type="回避情况1" minOccurs="0" maxOccurs="32768"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:group name="成员与回避">
    <xsd:sequence>
      <xsd:element name="审判组织成员" type="审判组织成员" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="回避情况"     type="回避情况"     minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:group>

  <xsd:complexType name="立案移交和退案1">
    <xsd:sequence>
      <xsd:element name="序号_移交"        type="SN"  minOccurs="1"/>
      <xsd:element name="立案移交庭室标识" type="N"   minOccurs="0"/>
      <xsd:element name="立案移交庭室"     type="C40" minOccurs="0"/>
      <xsd:element name="立案移交人"       type="SN"  minOccurs="0"/>
      <xsd:element name="承办庭标识"       type="N"   minOccurs="0"/>
      <xsd:element name="承办审判庭"       type="C40" minOccurs="0"/>
      <xsd:element name="立案移交日期"     type="D"   minOccurs="0"/>
      <xsd:element name="退案人"           type="SN"  minOccurs="0"/>
      <xsd:element name="退案日期"         type="D"   minOccurs="0"/>
      <xsd:element name="退案原因"         type="TN"  minOccurs="0"/>
      <xsd:element name="退案接收人"       type="SN"  minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="立案移交和退案">
    <xsd:sequence>
      <xsd:element name="R" type="立案移交和退案1" minOccurs="0" maxOccurs="32768"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="法庭使用记录1">
    <xsd:sequence>
      <xsd:element name="序号_法庭使用"            type="SN"  minOccurs="1"/>
      <xsd:element name="法庭用途"                 type="TN"  minOccurs="0"/>
      <xsd:element name="庭次"                     type="TN"  minOccurs="0"/>
      <xsd:element name="开始时间"                 type="DT"  minOccurs="0"/>
      <xsd:element name="结束时间"                 type="DT"  minOccurs="0"/>
      <xsd:element name="地点"                     type="C40" minOccurs="0"/>
      <xsd:element name="公开开庭"                 type="TN"  minOccurs="0"/>
      <xsd:element name="到庭当事人"               type="BB"  minOccurs="0"/>
      <xsd:element name="拒不到庭当事人"           type="BB"  minOccurs="0"/>
      <xsd:element name="无正当理由中途退庭当事人" type="BB"  minOccurs="0"/>
      <xsd:element name="到庭诉讼代理人"           type="BB"  minOccurs="0"/>
      <xsd:element name="出庭作证的证人"           type="BB"  minOccurs="0"/>
      <xsd:element name="辩护人做无罪辩护"         type="TN"  minOccurs="0"/>
      <xsd:element name="拒绝继续辩护或代理"       type="TN"  minOccurs="0"/>
      <xsd:element name="对外宣传"                 type="SN"  minOccurs="0"/>
      <xsd:element name="旁听人数"                 type="SN"  minOccurs="0"/>
      <xsd:element name="人大代表旁听人数"         type="SN"  minOccurs="0"/>
      <xsd:element name="政协委员旁听人数"         type="SN"  minOccurs="0"/>
      <xsd:element name="审委会委员到庭听案"       type="TN"  minOccurs="0"/>
      <xsd:element name="宣判情况"                 type="TN"  minOccurs="0"/>
      <xsd:element name="笔录"                     type="SN"  minOccurs="0"/>
      <xsd:element name="听证裁决情况"             type="TN"  minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="法庭使用记录">
    <xsd:sequence>
      <xsd:element name="R" type="法庭使用记录1" minOccurs="0" maxOccurs="32768"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="法庭使用记录_强医1">
    <xsd:sequence>
      <xsd:element name="序号_法庭使用"            type="SN"  minOccurs="0"/>
      <xsd:element name="法庭用途"                 type="TN"  minOccurs="0"/>
      <xsd:element name="庭次"                     type="TN"  minOccurs="0"/>
      <xsd:element name="开始时间"                 type="DT"  minOccurs="0"/>
      <xsd:element name="结束时间"                 type="DT"  minOccurs="0"/>
      <xsd:element name="地点"                     type="C40" minOccurs="0"/>
      <xsd:element name="公开开庭"                 type="TN"  minOccurs="0"/>
      <xsd:element name="到庭当事人"               type="BB"  minOccurs="0"/>
      <xsd:element name="拒不到庭当事人"           type="BB"  minOccurs="0"/>
      <xsd:element name="无正当理由中途退庭当事人" type="BB"  minOccurs="0"/>
      <xsd:element name="到庭诉讼代理人"           type="BB"  minOccurs="0"/>
      <xsd:element name="出庭作证的证人"           type="BB"  minOccurs="0"/>
      <xsd:element name="对外宣传"                 type="SN"  minOccurs="0"/>
      <xsd:element name="旁听人数"                 type="SN"  minOccurs="0"/>
      <xsd:element name="人大代表旁听人数"         type="SN"  minOccurs="0"/>
      <xsd:element name="政协委员旁听人数"         type="SN"  minOccurs="0"/>
      <xsd:element name="审委会委员到庭听案"       type="TN"  minOccurs="0"/>
      <xsd:element name="宣判情况"                 type="TN"  minOccurs="0"/>
      <xsd:element name="笔录"                     type="SN"  minOccurs="0"/>
      <xsd:element name="听证裁决情况"             type="TN"  minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="法庭使用记录_强医">
    <xsd:sequence>
      <xsd:element name="R" type="法庭使用记录_强医1" minOccurs="0" maxOccurs="32768"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="证据信息1">
    <xsd:sequence>
      <xsd:element name="序号_证据"  type="SN"   minOccurs="0"/>
      <xsd:element name="证据名称"   type="C40"  minOccurs="0"/>
      <xsd:element name="证据类型"   type="TN"   minOccurs="0"/>
      <xsd:element name="原物原件"   type="TN"   minOccurs="0"/>
      <xsd:element name="取证时间"   type="DT"   minOccurs="0"/>
      <xsd:element name="取证地点"   type="C100" minOccurs="0"/>
      <xsd:element name="取证渠道"   type="TN"   minOccurs="0"/>
      <xsd:element name="举证人"     type="BB"   minOccurs="0"/>
      <xsd:element name="举证日期"   type="D"    minOccurs="0"/>
      <xsd:element name="收证人"     type="SN"   minOccurs="0"/>
      <xsd:element name="有利方"     type="BB"   minOccurs="0"/>
      <xsd:element name="证据事实"   type="C200" minOccurs="0"/>
      <xsd:element name="委托鉴定"   type="TN"   minOccurs="0"/>
      <xsd:element name="交换日期"   type="D"    minOccurs="0"/>
      <xsd:element name="交换主持人" type="SN"   minOccurs="0"/>
      <xsd:element name="经过质证"   type="TN"   minOccurs="0"/>
      <xsd:element name="质证庭次"   type="TN"   minOccurs="0"/>
      <xsd:element name="认证结果"   type="TN"   minOccurs="0"/>
      <xsd:element name="当庭认证"   type="TN"   minOccurs="0"/>
      <xsd:element name="认证理由"   type="N"    minOccurs="0"/>
      <xsd:element name="不认证理由" type="N"    minOccurs="0"/>
      <xsd:element name="反证索引"   type="BB"   minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="证据信息">
    <xsd:sequence>
      <xsd:element name="R" type="证据信息1" minOccurs="0" maxOccurs="32768"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="证据链条1">
    <xsd:sequence>
      <xsd:element name="序号_证据链" type="SN" minOccurs="1"/>
      <xsd:element name="包含证据"    type="BB" minOccurs="0"/>
      <xsd:element name="链条目的"    type="BB" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="证据链条">
    <xsd:sequence>
      <xsd:element name="R" type="证据链条1" minOccurs="0" maxOccurs="32768"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="链条中的证据1">
    <xsd:sequence>
      <xsd:element name="证据链"       type="SN" minOccurs="1"/>
      <xsd:element name="证据"         type="SN" minOccurs="1"/>
      <xsd:element name="顺序号"       type="SN" minOccurs="0"/>
      <xsd:element name="再现事实时间" type="DT" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="链条中的证据">
    <xsd:sequence>
      <xsd:element name="R" type="链条中的证据1" minOccurs="0" maxOccurs="32768"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="鉴定信息1">
    <xsd:sequence>
      <xsd:element name="序号_鉴定"      type="SN"   minOccurs="1"/>
      <xsd:element name="证据序号"       type="SN"   minOccurs="0"/>
      <xsd:element name="重新鉴定"       type="TN"   minOccurs="0"/>
      <xsd:element name="重新鉴定理由"   type="N"    minOccurs="0"/>
      <xsd:element name="委托鉴定人"     type="SN"   minOccurs="0"/>
      <xsd:element name="当事人委托"     type="TN"   minOccurs="0"/>
      <xsd:element name="委托鉴定内容"   type="C240" minOccurs="0"/>
      <xsd:element name="鉴定机构"       type="SN"   minOccurs="0"/>
      <xsd:element name="鉴定人"         type="SN"   minOccurs="0"/>
      <xsd:element name="鉴定依据及技术" type="C240" minOccurs="0"/>
      <xsd:element name="鉴定过程说明"   type="C240" minOccurs="0"/>
      <xsd:element name="鉴定结论"       type="C240" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="鉴定信息">
    <xsd:sequence>
      <xsd:element name="R" type="鉴定信息1" minOccurs="0" maxOccurs="32768"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="证人信息1">
    <xsd:sequence>
      <xsd:element name="序号_证人" type="SN" minOccurs="1"/>
      <xsd:element name="证人"      type="SN" minOccurs="0"/>
      <xsd:element name="有利方"    type="BB" minOccurs="0"/>
      <xsd:element name="出庭作证"  type="TN" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="证人信息">
    <xsd:sequence>
      <xsd:element name="R" type="证人信息1" minOccurs="0" maxOccurs="32768"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:group name="证据及鉴定">
    <xsd:sequence>
      <xsd:element name="证据信息"     type="证据信息"     minOccurs="0" maxOccurs="1"/>
      <xsd:element name="证据链条"     type="证据链条"     minOccurs="0" maxOccurs="1"/>
      <xsd:element name="链条中的证据" type="链条中的证据" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="鉴定信息"     type="鉴定信息"     minOccurs="0" maxOccurs="1"/>
      <xsd:element name="证人信息"     type="证人信息"     minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:group>

  <xsd:complexType name="文书1">
    <xsd:sequence>
      <xsd:element name="序号_文书" type="SN" minOccurs="1"/>
      <xsd:element name="类别"      type="TN" minOccurs="0"/>
      <xsd:element name="名称"      type="C240" minOccurs="0"/>
      <xsd:element name="制作人"    type="SN" minOccurs="0"/>
      <xsd:element name="制作时间"  type="DT" minOccurs="0"/>
      <xsd:element name="内容"      type="BB" minOccurs="0"/>
      <xsd:element name="实体文件"  type="SN" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="文书">
    <xsd:sequence>
      <xsd:element name="R" type="文书1" minOccurs="0" maxOccurs="32768"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="送达记录1">
    <xsd:sequence>
      <xsd:element name="序号_送达"      type="SN"   minOccurs="1"/>
      <xsd:element name="文书"           type="SN"   minOccurs="0"/>
      <xsd:element name="应送达日期"     type="D"    minOccurs="0"/>
      <xsd:element name="送达方式"       type="TN"   minOccurs="0"/>
      <xsd:element name="受托法院"       type="SN"   minOccurs="0"/>
      <xsd:element name="公告日期"       type="D"    minOccurs="0"/>
      <xsd:element name="交邮日期"       type="D"    minOccurs="0"/>
      <xsd:element name="送达日期"       type="D"    minOccurs="0"/>
      <xsd:element name="送达人"         type="SN"   minOccurs="0"/>
      <xsd:element name="受送达人"       type="BB"   minOccurs="0"/>
      <xsd:element name="签收人"         type="SN"   minOccurs="0"/>
      <xsd:element name="代签人或转交人" type="SN"   minOccurs="0"/>
      <xsd:element name="签收时间"       type="DT"   minOccurs="0"/>
      <xsd:element name="拒不签收"       type="TN"   minOccurs="0"/>
      <xsd:element name="未送达原因"     type="C200" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="送达记录">
    <xsd:sequence>
      <xsd:element name="R" type="送达记录1" minOccurs="0" maxOccurs="32768"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:group name="文书及送达">
    <xsd:sequence>
      <xsd:element name="文书"     type="文书"     minOccurs="0" maxOccurs="1"/>
      <xsd:element name="送达记录" type="送达记录" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:group>

  <xsd:complexType name="扣除审限记录1">
    <xsd:sequence>
      <xsd:element name="序号_扣除审限" type="SN" minOccurs="1"/>
      <xsd:element name="类型"          type="TN" minOccurs="0"/>
      <xsd:element name="中止事由"      type="TN" minOccurs="0"/>
      <xsd:element name="延期审理事由"  type="TN" minOccurs="0"/>
      <xsd:element name="其他事由"      type="TN" minOccurs="0"/>
      <xsd:element name="起始日期"      type="D"  minOccurs="0"/>
      <xsd:element name="结束日期"      type="D"  minOccurs="0"/>
      <xsd:element name="相关文书"      type="SN" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="扣除审限记录">
    <xsd:sequence>
      <xsd:element name="R" type="扣除审限记录1" minOccurs="0" maxOccurs="32768"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="延长审限记录1">
    <xsd:sequence>
      <xsd:element name="序号_延长审限" type="SN" minOccurs="1"/>
      <xsd:element name="原因"          type="N"  minOccurs="0"/>
      <xsd:element name="申请日期"      type="D"  minOccurs="0"/>
      <xsd:element name="批准机关"      type="TN" minOccurs="0"/>
      <xsd:element name="批准日期"      type="D"  minOccurs="0"/>
      <xsd:element name="开始日期"      type="D"  minOccurs="0"/>
      <xsd:element name="延长期间"      type="TN" minOccurs="0"/>
      <xsd:element name="相关文书"      type="SN" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="延长审限记录">
    <xsd:sequence>
      <xsd:element name="R" type="延长审限记录1" minOccurs="0" maxOccurs="32768"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:group name="审限事件记录">
    <xsd:sequence>
      <xsd:element name="扣除审限记录" type="扣除审限记录" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="延长审限记录" type="延长审限记录" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:group>

  <xsd:complexType name="案件评议1">
    <xsd:sequence>
      <xsd:element name="序号_评议"    type="SN" minOccurs="1"/>
      <xsd:element name="评议类型"     type="TN" minOccurs="0"/>
      <xsd:element name="评议日期"     type="D"  minOccurs="0"/>
      <xsd:element name="承办人意见"   type="BB" minOccurs="0"/>
      <xsd:element name="审判长意见"   type="BB" minOccurs="0"/>
      <xsd:element name="其他成员意见" type="BB" minOccurs="0"/>
      <xsd:element name="多数人意见"   type="BB" minOccurs="0"/>
      <xsd:element name="评议笔录"     type="BB" minOccurs="0"/>
      <xsd:element name="讨论结果"     type="TN" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="案件评议">
    <xsd:sequence>
      <xsd:element name="R" type="案件评议1" minOccurs="0" maxOccurs="32768"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="审委会讨论1">
    <xsd:sequence>
      <xsd:element name="序号_审委会讨论" type="SN" minOccurs="1"/>
      <xsd:element name="讨论日期"        type="D"  minOccurs="0"/>
      <xsd:element name="议题类型"        type="TN" minOccurs="0"/>
      <xsd:element name="参加人员"        type="BB" minOccurs="0"/>
      <xsd:element name="讨论意见"        type="BB" minOccurs="0"/>
      <xsd:element name="多数人意见"      type="BB" minOccurs="0"/>
      <xsd:element name="讨论笔录"        type="BB" minOccurs="0"/>
      <xsd:element name="讨论结果"        type="TN" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="审委会讨论">
    <xsd:sequence>
      <xsd:element name="R" type="审委会讨论1" minOccurs="0" maxOccurs="32768"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:group name="评议与讨论">
    <xsd:sequence>
      <xsd:element name="案件评议"   type="案件评议"   minOccurs="0" maxOccurs="1"/>
      <xsd:element name="审委会讨论" type="审委会讨论" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:group>

  <xsd:complexType name="司法建议1">
    <xsd:sequence>
      <xsd:element name="序号_司法建议" type="SN" minOccurs="1"/>
      <xsd:element name="提出日期"      type="D"  minOccurs="0"/>
      <xsd:element name="建议对象"      type="BB" minOccurs="0"/>
      <xsd:element name="建议书"        type="BB" minOccurs="0"/>
      <xsd:element name="反馈日期"      type="D"  minOccurs="0"/>
      <xsd:element name="反馈意见"      type="BB" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="司法建议">
    <xsd:sequence>
      <xsd:element name="R" type="司法建议1" minOccurs="0" maxOccurs="32768"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="复议处理1">
    <xsd:sequence>
      <xsd:element name="序号_复议处理" type="SN" minOccurs="1"/>
      <xsd:element name="类型"          type="TN" minOccurs="0"/>
      <xsd:element name="申请人"        type="SN" minOccurs="0"/>
      <xsd:element name="申请日期"      type="D"  minOccurs="0"/>
      <xsd:element name="处理日期"      type="D"  minOccurs="0"/>
      <xsd:element name="处理结果"      type="TN" minOccurs="0"/>
      <xsd:element name="复议文书"      type="SN" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="复议处理">
    <xsd:sequence>
      <xsd:element name="R" type="复议处理1" minOccurs="0" maxOccurs="32768"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="控辩意见1">
    <xsd:sequence>
      <xsd:element name="序号_控辩意见" type="SN" minOccurs="1"/>
      <xsd:element name="类型"          type="TN" minOccurs="0"/>
      <xsd:element name="提出人"        type="SN" minOccurs="0"/>
      <xsd:element name="内容"          type="BB" minOccurs="0"/>
      <xsd:element name="证据"          type="BB" minOccurs="0"/>
      <xsd:element name="采纳"          type="TN" minOccurs="0"/>
      <xsd:element name="不采纳理由"    type="TN" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="控辩意见">
    <xsd:sequence>
      <xsd:element name="R" type="控辩意见1" minOccurs="0" maxOccurs="32768"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="批办记录1">
    <xsd:sequence>
      <xsd:element name="序号_批办"    type="SN"   minOccurs="1"/>
      <xsd:element name="批办机关"     type="C100" minOccurs="0"/>
      <xsd:element name="批办领导"     type="C40"  minOccurs="0"/>
      <xsd:element name="批办日期"     type="D"    minOccurs="0"/>
      <xsd:element name="批办文号"     type="C50"  minOccurs="0"/>
      <xsd:element name="批办要求"     type="C100" minOccurs="0"/>
      <xsd:element name="报告结果"     type="TN"   minOccurs="0"/>
      <xsd:element name="应报结果日期" type="D"    minOccurs="0"/>
      <xsd:element name="批办时限"     type="SN"   minOccurs="0"/>
      <xsd:element name="定期汇报"     type="TN"   minOccurs="0"/>
      <xsd:element name="挂牌督办"     type="TN"   minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="批办记录">
    <xsd:sequence>
      <xsd:element name="R" type="批办记录1" minOccurs="0" maxOccurs="32768"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="实体文件1">
    <xsd:sequence>
      <xsd:element name="序号_文件"    type="N"    minOccurs="1"/>
      <xsd:element name="实体类别"     type="TN"   minOccurs="0"/>
      <xsd:element name="实体编号"     type="SN"   minOccurs="0"/>
      <xsd:element name="显示名称"     type="C40"  minOccurs="0"/>
      <xsd:element name="文件名称"     type="C100" minOccurs="0"/>
      <xsd:element name="文件格式"     type="TN"   minOccurs="0"/>
      <xsd:element name="文件大小"     type="N"    minOccurs="0"/>
      <xsd:element name="创建人"       type="SN"   minOccurs="0"/>
      <xsd:element name="创建时间"     type="DT"   minOccurs="0"/>
      <xsd:element name="最近修改人"   type="SN"   minOccurs="0"/>
      <xsd:element name="最近修改时间" type="DT"   minOccurs="0"/>
      <xsd:element name="备注"         type="C240" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="实体文件">
    <xsd:sequence>
      <xsd:element name="R" type="实体文件1" minOccurs="0" maxOccurs="32768"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="原审情况_强医1">
    <xsd:sequence>
      <xsd:element name="序号_原审"        type="SN"  minOccurs="1"/>
      <xsd:element name="经办法院"         type="SN"  minOccurs="0"/>
      <xsd:element name="案号"             type="C50" minOccurs="0"/>
      <xsd:element name="案件类别"         type="N"   minOccurs="0"/>
      <xsd:element name="审判程序"         type="TN"  minOccurs="0"/>
      <xsd:element name="结案案由"         type="SN"  minOccurs="0"/>
      <xsd:element name="立案日期"         type="D"   minOccurs="0"/>
      <xsd:element name="结案日期"         type="D"   minOccurs="0"/>
      <xsd:element name="结案方式"         type="TN"  minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="原审情况_强医">
    <xsd:sequence>
      <xsd:element name="R" type="原审情况_强医1" minOccurs="0" maxOccurs="32768"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="原审情况1">
    <xsd:sequence>
      <xsd:element name="序号_原审"        type="SN"  minOccurs="1"/>
      <xsd:element name="经办法院"         type="SN"  minOccurs="0"/>
      <xsd:element name="案号"             type="C50" minOccurs="0"/>
      <xsd:element name="案由"             type="SN"  minOccurs="0"/>
      <xsd:element name="案件类别"         type="N"   minOccurs="0"/>
      <xsd:element name="审判程序"         type="TN"  minOccurs="0"/>
      <xsd:element name="立案日期"         type="D"   minOccurs="0"/>
      <xsd:element name="结案日期"         type="D"   minOccurs="0"/>
      <xsd:element name="结案方式"         type="TN"  minOccurs="0"/>
      <xsd:element name="生效日期"         type="D"   minOccurs="0"/>
      <xsd:element name="提起新案理由"     type="N"   minOccurs="0"/>
      <xsd:element name="提起新案日期"     type="D"   minOccurs="0"/>
      <xsd:element name="生效法律文书编号" type="C50" minOccurs="0"/>
      <xsd:element name="原裁判类型"       type="TN"  minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="原审情况">
    <xsd:sequence>
      <xsd:element name="R" type="原审情况1" minOccurs="0" maxOccurs="32768"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="后续情况_强医1">
    <xsd:sequence>
      <xsd:element name="序号_后续"        type="SN"  minOccurs="0"/>
      <xsd:element name="经办法院"         type="SN"  minOccurs="0"/>
      <xsd:element name="案号"             type="C50" minOccurs="0"/>
      <xsd:element name="案件类别"         type="N"   minOccurs="0"/>
      <xsd:element name="审判程序"         type="TN"  minOccurs="0"/>
      <xsd:element name="立案日期"         type="D"   minOccurs="0"/>
      <xsd:element name="结案日期"         type="D"   minOccurs="0"/>
      <xsd:element name="案件来源"         type="TN"  minOccurs="0"/>
      <xsd:element name="结案方式"         type="TN"  minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="后续情况_强医">
    <xsd:sequence>
      <xsd:element name="R" type="后续情况_强医1" minOccurs="0" maxOccurs="32768"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="后续情况_赔偿1">
    <xsd:sequence>
      <xsd:element name="序号_后续"        type="SN"  minOccurs="0"/>
      <xsd:element name="经办法院"         type="SN"  minOccurs="0"/>
      <xsd:element name="案号"             type="C50" minOccurs="0"/>
      <xsd:element name="案件类别"         type="N"   minOccurs="0"/>
      <xsd:element name="受理程序"         type="TN"  minOccurs="0"/>
      <xsd:element name="立案日期"         type="D"   minOccurs="0"/>
      <xsd:element name="结案日期"         type="D"   minOccurs="0"/>
      <xsd:element name="案件来源"         type="TN"  minOccurs="0"/>
      <xsd:element name="结案方式"         type="TN"  minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="后续情况_赔偿">
    <xsd:sequence>
      <xsd:element name="R" type="后续情况_赔偿1" minOccurs="0" maxOccurs="32768"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="后续情况1">
    <xsd:sequence>
      <xsd:element name="序号_后续"        type="SN"  minOccurs="0"/>
      <xsd:element name="经办法院"         type="SN"  minOccurs="0"/>
      <xsd:element name="案号"             type="C50" minOccurs="0"/>
      <xsd:element name="案件类别"         type="N"   minOccurs="0"/>
      <xsd:element name="审判程序"         type="TN"  minOccurs="0"/>
      <xsd:element name="立案日期"         type="D"   minOccurs="0"/>
      <xsd:element name="结案日期"         type="D"   minOccurs="0"/>
      <xsd:element name="案件来源"         type="TN"  minOccurs="0"/>
      <xsd:element name="结案方式"         type="TN"  minOccurs="0"/>
      <xsd:element name="改判原因"         type="TN"   minOccurs="0"/>
      <xsd:element name="发回重审原因"     type="TN"   minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="后续情况">
    <xsd:sequence>
      <xsd:element name="R" type="后续情况1" minOccurs="0" maxOccurs="32768"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="诉讼档案管理">
    <xsd:sequence>
      <xsd:element name="接收人"   type="SN"   minOccurs="0"/>
      <xsd:element name="立卷人"   type="SN"   minOccurs="0"/>
      <xsd:element name="归档人"   type="SN"   minOccurs="0"/>
      <xsd:element name="全宗号"   type="C20"  minOccurs="0"/>
      <xsd:element name="目录号"   type="C20"  minOccurs="0"/>
      <xsd:element name="卷宗号"   type="C20"  minOccurs="0"/>
      <xsd:element name="光磁盘号" type="C30"  minOccurs="0"/>
      <xsd:element name="正卷册数" type="SN"   minOccurs="0"/>
      <xsd:element name="副卷册数" type="SN"   minOccurs="0"/>
      <xsd:element name="正卷页数" type="SN"   minOccurs="0"/>
      <xsd:element name="副卷页数" type="SN"   minOccurs="0"/>
      <xsd:element name="并卷情况" type="C240" minOccurs="0"/>
      <xsd:element name="密级"     type="TN"   minOccurs="0"/>
      <xsd:element name="保管期限" type="TN"   minOccurs="0"/>
      <xsd:element name="归档日期" type="D"    minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="销案情况">
    <xsd:sequence>
      <xsd:element name="申请销案日期" type="D"    minOccurs="0"/>
      <xsd:element name="销案事由"     type="TN"   minOccurs="0"/>
      <xsd:element name="销案具体原因" type="C100" minOccurs="0"/>
      <xsd:element name="申请销案报告" type="SN"   minOccurs="0"/>
      <xsd:element name="同意销案日期" type="D"    minOccurs="0"/>
      <xsd:element name="审批人"       type="SN"   minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="审理阶段">
    <xsd:sequence>
      <xsd:element name="案件进展阶段" type="TN" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="管辖处理情况1">
    <xsd:sequence>
      <xsd:element name="序号_管辖处理"      type="SN" minOccurs="1"/>
      <xsd:element name="提出管辖异议人"     type="SN" minOccurs="0"/>
      <xsd:element name="提出管辖异议日期"   type="D"  minOccurs="0"/>
      <xsd:element name="管辖问题类型"       type="TN" minOccurs="0"/>
      <xsd:element name="无管辖权的处理结果" type="TN" minOccurs="0"/>
      <xsd:element name="管辖权转移处理结果" type="TN" minOccurs="0"/>
      <xsd:element name="管辖异议处理结果"   type="TN" minOccurs="0"/>
      <xsd:element name="上级法院回复"       type="TN" minOccurs="0"/>
      <xsd:element name="受移送法院"         type="N"  minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="管辖处理情况">
    <xsd:sequence>
      <xsd:element name="R" type="管辖处理情况1" minOccurs="0" maxOccurs="32768"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="案件处理情况1">
    <xsd:sequence>
      <xsd:element name="序号_处理"    type="SN" minOccurs="1"/>
      <xsd:element name="处理日期"     type="D"  minOccurs="0"/>
      <xsd:element name="处理方式"     type="TN" minOccurs="0"/>
      <xsd:element name="涉及范围"     type="TN" minOccurs="0"/>
      <xsd:element name="针对对象"     type="BB" minOccurs="0"/>
      <xsd:element name="文书类型"     type="TN" minOccurs="0"/>
      <xsd:element name="案件处理文书" type="SN" minOccurs="0"/>
      <xsd:element name="通知类型"     type="TN" minOccurs="0"/>
      <xsd:element name="指定举证期限" type="SN" minOccurs="0"/>
      <xsd:element name="签发人"       type="SN" minOccurs="0"/>
      <xsd:element name="当场签收人"   type="BB" minOccurs="0"/>
      <xsd:element name="拒不签收人"   type="BB" minOccurs="0"/>
      <xsd:element name="签收日期"     type="D"  minOccurs="0"/>
      <xsd:element name="结案标记"     type="TN" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="案件处理情况">
    <xsd:sequence>
      <xsd:element name="R" type="案件处理情况1" minOccurs="0" maxOccurs="32768"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="妨碍诉讼行为处理1">
    <xsd:sequence>
      <xsd:element name="序号_妨碍诉讼" type="SN" minOccurs="1"/>
      <xsd:element name="行为人"        type="SN" minOccurs="0"/>
      <xsd:element name="行为类型"      type="TN" minOccurs="0"/>
      <xsd:element name="处理日期"      type="D"  minOccurs="0"/>
      <xsd:element name="处理结果"      type="N"  minOccurs="0"/>
      <xsd:element name="罚款金额"      type="M"  minOccurs="0"/>
      <xsd:element name="罚款缴纳日期"  type="D"  minOccurs="0"/>
      <xsd:element name="拘留天数"      type="SN" minOccurs="0"/>
      <xsd:element name="拘留场所"      type="TN" minOccurs="0"/>
      <xsd:element name="处理文书"      type="SN" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="妨碍诉讼行为处理">
    <xsd:sequence>
      <xsd:element name="R" type="妨碍诉讼行为处理1" minOccurs="0" maxOccurs="32768"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="群体或集团诉讼">
    <xsd:sequence>
      <xsd:element name="群体诉讼人数"         type="SN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="权利登记公告刊登日期" type="D"  minOccurs="0" maxOccurs="1"/>
      <xsd:element name="公告期限"             type="SN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="权利登记人数"         type="SN" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="诉讼保全和先予执行1">
    <xsd:sequence>
      <xsd:element name="序号_保全或先予执行" type="SN"   minOccurs="1" maxOccurs="1"/>
      <xsd:element name="类型"                type="TN"   minOccurs="0" maxOccurs="1"/>
      <xsd:element name="保全发动方"          type="TN"   minOccurs="0" maxOccurs="1"/>
      <xsd:element name="申请人"              type="BB"   minOccurs="0" maxOccurs="1"/>
      <xsd:element name="被申请人"            type="BB"   minOccurs="0" maxOccurs="1"/>
      <xsd:element name="申请日期"            type="D"    minOccurs="0" maxOccurs="1"/>
      <xsd:element name="申请金额"            type="M"    minOccurs="0" maxOccurs="1"/>
      <xsd:element name="证据编号"            type="C240" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="申请财产"            type="C240" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="裁定日期"            type="D"    minOccurs="0" maxOccurs="1"/>
      <xsd:element name="裁定结果"            type="TN"   minOccurs="0" maxOccurs="1"/>
      <xsd:element name="保全措施"            type="N"   minOccurs="0" maxOccurs="1"/>
      <xsd:element name="先予执行事由"        type="TN"   minOccurs="0" maxOccurs="1"/>
      <xsd:element name="执行日期"            type="D"    minOccurs="0" maxOccurs="1"/>
      <xsd:element name="实际执行金额"        type="M"    minOccurs="0" maxOccurs="1"/>
      <xsd:element name="解除保全日期"        type="DT"   minOccurs="0" maxOccurs="1"/>
      <xsd:element name="解除保全原因"        type="N"   minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="诉讼保全和先予执行">
    <xsd:sequence>
      <xsd:element name="R" type="诉讼保全和先予执行1" minOccurs="0" maxOccurs="32768"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="诉讼费及承担1">
    <xsd:sequence>
      <xsd:element name="序号_承担"        type="SN"  minOccurs="1" maxOccurs="1"/>
      <xsd:element name="承担人"           type="SN"  minOccurs="0" maxOccurs="1"/>
      <xsd:element name="案件受理费"       type="M"   minOccurs="0" maxOccurs="1"/>
      <xsd:element name="申请费"           type="M"   minOccurs="0" maxOccurs="1"/>
      <xsd:element name="其他费用"         type="M"   minOccurs="0" maxOccurs="1"/>
      <xsd:element name="应承担总额"       type="M"   minOccurs="0" maxOccurs="1"/>
      <xsd:element name="预交金额"         type="M"   minOccurs="0" maxOccurs="1"/>
      <xsd:element name="结案前交纳总额"   type="M"   minOccurs="0" maxOccurs="1"/>
      <xsd:element name="补齐全额限期"     type="C40" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="不交费按撤诉处理" type="TN"  minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="诉讼费及承担">
    <xsd:sequence>
      <xsd:element name="R" type="诉讼费及承担1" minOccurs="0" maxOccurs="32768"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="诉讼费司法救助1">
    <xsd:sequence>
      <xsd:element name="序号_救助"     type="SN"   minOccurs="1" maxOccurs="1"/>
      <xsd:element name="受救助人"        type="SN"   minOccurs="0" maxOccurs="1"/>
      <xsd:element name="申请救助类型"  type="TN"   minOccurs="0" maxOccurs="1"/>
      <xsd:element name="申请减交金额"  type="M"    minOccurs="0" maxOccurs="1"/>
      <xsd:element name="缓交期限"      type="C100" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="申请救助原因"  type="TN"   minOccurs="0" maxOccurs="1"/>
      <xsd:element name="批准人"        type="SN"   minOccurs="0" maxOccurs="1"/>
      <xsd:element name="批准日期"      type="D"    minOccurs="0" maxOccurs="1"/>
      <xsd:element name="救济案件类型"  type="TN"   minOccurs="0" maxOccurs="1"/>
      <xsd:element name="救济对象"      type="TN"   minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="诉讼费司法救助">
    <xsd:sequence>
      <xsd:element name="R" type="诉讼费司法救助1" minOccurs="0" maxOccurs="32768"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="诉讼费交纳记录1">
    <xsd:sequence>
      <xsd:element name="序号_诉费交纳" type="SN"  minOccurs="1" maxOccurs="1"/>
      <xsd:element name="交纳人"        type="SN"  minOccurs="0" maxOccurs="1"/>
      <xsd:element name="交纳日期"      type="D"   minOccurs="0" maxOccurs="1"/>
      <xsd:element name="金额"          type="M"   minOccurs="0" maxOccurs="1"/>
      <xsd:element name="收据号码"      type="C50" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="退费"          type="TN"  minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="诉讼费交纳记录">
    <xsd:sequence>
      <xsd:element name="R" type="诉讼费交纳记录1" minOccurs="0" maxOccurs="32768"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:group name="诉讼费承担与救助">
    <xsd:sequence>
      <xsd:element name="诉讼费及承担情况"   type="诉讼费及承担"   minOccurs="0" maxOccurs="1"/>
      <xsd:element name="诉讼费司法救助情况" type="诉讼费司法救助" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="诉讼费交纳记录"     type="诉讼费交纳记录" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:group>

  <xsd:complexType name="诉讼活动_刑1">
    <xsd:sequence>
      <xsd:element name="序号_诉讼活动"          type="SN" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="提诉人"                 type="SN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="被提诉人"               type="BB" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="提诉日期"               type="D"  minOccurs="0" maxOccurs="1"/>
      <xsd:element name="代为提诉"               type="TN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="代为提诉人与被害人关系" type="TN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="审理要求"               type="N"  minOccurs="0" maxOccurs="1"/>
      <xsd:element name="申请撤诉"               type="TN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="终止诉讼"               type="TN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="应诉人"                 type="BB" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="答辩日期"               type="D"  minOccurs="0" maxOccurs="1"/>
      <xsd:element name="承认提诉事实"           type="TN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="申请反诉撤诉"           type="TN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="反诉针对对象"           type="BB" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="反诉处理结果"           type="TN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="未出庭次数"             type="TN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="未出庭原因"             type="TN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="拒不到庭次数"           type="SN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="无正当理由退庭次数"     type="SN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="拒不到庭或中途退庭处理" type="TN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="辩护类型"               type="TN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="拒绝辩护或代理"         type="TN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="撤诉针对对象"           type="BB" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="接受法律援助原因"       type="TN" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="诉讼活动_刑">
    <xsd:sequence>
      <xsd:element name="R" type="诉讼活动_刑1" minOccurs="0" maxOccurs="32768"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="诉讼活动_民1">
    <xsd:sequence>
      <xsd:element name="序号_诉讼活动"          type="SN" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="提诉人"                 type="SN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="被提诉人"               type="BB" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="提诉日期"               type="D"  minOccurs="0" maxOccurs="1"/>
      <xsd:element name="代为提诉"               type="TN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="审理要求"               type="N"  minOccurs="0" maxOccurs="1"/>
      <xsd:element name="申请撤诉"               type="TN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="终止诉讼"               type="TN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="应诉人"                 type="BB" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="答辩日期"               type="D"  minOccurs="0" maxOccurs="1"/>
      <xsd:element name="承认提诉事实"           type="TN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="申请反诉撤诉"           type="TN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="反诉针对对象"           type="BB" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="反诉处理结果"           type="TN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="未出庭次数"             type="TN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="未出庭原因"             type="TN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="拒不到庭次数"           type="SN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="无正当理由退庭次数"     type="SN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="拒不到庭或中途退庭处理" type="TN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="拒绝辩护或代理"         type="TN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="撤诉针对对象"           type="BB" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="诉讼活动_民">
    <xsd:sequence>
      <xsd:element name="R" type="诉讼活动_民1" minOccurs="0" maxOccurs="32768"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="诉讼活动_行1">
    <xsd:sequence>
      <xsd:element name="序号_诉讼活动"          type="SN" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="提诉人"                 type="SN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="被提诉人"               type="BB" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="提诉日期"               type="D"  minOccurs="0" maxOccurs="1"/>
      <xsd:element name="代为提诉"               type="TN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="审理要求"               type="N"  minOccurs="0" maxOccurs="1"/>
      <xsd:element name="申请撤诉"               type="TN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="终止诉讼"               type="TN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="应诉人"                 type="BB" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="答辩日期"               type="D"  minOccurs="0" maxOccurs="1"/>
      <xsd:element name="承认提诉事实"           type="TN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="未出庭次数"             type="TN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="未出庭原因"             type="TN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="拒不到庭次数"           type="SN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="无正当理由退庭次数"     type="SN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="拒不到庭或中途退庭处理" type="TN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="拒绝辩护或代理"         type="TN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="撤诉针对对象"           type="BB" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="诉讼活动_行">
    <xsd:sequence>
      <xsd:element name="R" type="诉讼活动_行1" minOccurs="0" maxOccurs="32768"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="诉讼活动_赔1">
    <xsd:sequence>
      <xsd:element name="序号_诉讼活动"      type="SN" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="提诉人"             type="SN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="被提诉人"           type="BB" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="提诉日期"           type="D"  minOccurs="0" maxOccurs="1"/>
      <xsd:element name="代为提诉"           type="TN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="审理要求"           type="N"  minOccurs="0" maxOccurs="1"/>
      <xsd:element name="申请撤诉"           type="TN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="终止诉讼"           type="TN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="应诉人"             type="BB" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="答辩日期"           type="D"  minOccurs="0" maxOccurs="1"/>
      <xsd:element name="承认提诉事实"       type="TN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="未出庭次数"         type="TN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="未出庭原因"         type="TN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="拒不到庭次数"       type="SN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="无正当理由退庭次数" type="SN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="拒绝辩护或代理"     type="TN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="撤诉针对对象"       type="BB" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="诉讼活动_赔">
    <xsd:sequence>
      <xsd:element name="R" type="诉讼活动_赔1" minOccurs="0" maxOccurs="32768"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="诉讼活动_执1">
    <xsd:sequence>
      <xsd:element name="序号_诉讼活动"      type="SN" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="提诉人"             type="SN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="被提诉人"           type="BB" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="提诉日期"           type="D"  minOccurs="0" maxOccurs="1"/>
      <xsd:element name="代为提诉"           type="TN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="审理要求"           type="N"  minOccurs="0" maxOccurs="1"/>
      <xsd:element name="申请撤诉"           type="TN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="终止诉讼"           type="TN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="应诉人"             type="BB" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="答辩日期"           type="D"  minOccurs="0" maxOccurs="1"/>
      <xsd:element name="承认提诉事实"       type="TN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="未出庭次数"         type="TN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="未出庭原因"         type="TN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="拒不到庭次数"       type="SN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="无正当理由退庭次数" type="SN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="拒绝辩护或代理"     type="TN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="撤诉针对对象"       type="BB" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="诉讼活动_执">
    <xsd:sequence>
      <xsd:element name="R" type="诉讼活动_执1" minOccurs="0" maxOccurs="32768"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="案件其他信息">
    <xsd:sequence>
      <xsd:element name="案件密码"     type="C20"  minOccurs="0"  maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>

</xsd:schema>
